.banner {
  background: url(../../../assets/banner.jpg) no-repeat center;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
}

.explore-btn::before {
  background: rgb(255, 123, 71);
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%);
  transform-origin: top;
  z-index: -1;
  transition: all 0.3s ease;
}

.explore-btn:hover {
  color: #fff;
}

.explore-btn:hover::before {
  height: 100%;
}

